
/* 
my base css page was not changed much
a change layout button was added to the nav to acount for the alt layout of the webpage 
when you click the switch layout button I refactor the layout of the webpage so all of the changes are listed on that css page
other then that I change it so the footer would display on the bottom always
I added this change by making the min size of girdbox larger so that when it has enough room to display it will still be at the bottom
I also added padding to the contact info text and the footer to make the whole page smother to look 
I change how the header is displayed to make sure it looks good on moblie(mostly changing how the text is handled so that is will displaywithough wraping)
changes were also made to make the video display properly on mobile so it will scale to the screen size
*/
footer{
    background-color: #202020;
    color: white;
    margin-bottom: 0;
    
}
footer p{
    margin: 0px;
    padding-left: 20px;
}
footer a{
    color:white;
    padding-left: 20px;
}
a{
    color: black;
}
#contactInfo{
    display: none;
    width: 100%;
    height: 700px;
    background-color: #f8a43f;
    grid-column: 1/3;
    padding-left: 20px;
}
body{
    margin: 0px;
    background-color: #323d4c;
    display: flex;
    flex-direction: column;
}
#top-of-header{
    display: flex;
    background-color: #202020;
    padding-left: 2%;
    height: autos;
    align-content: center;
    font-size: 2em;
    padding-left: max();
    border-bottom: 1px solid black;
    position: relative;
    z-index: 10;
}
figure{
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

@media screen and (min-width: 769px){

    #top-of-header img{
    width: 70px;
    height: auto;
    margin-right: 2%;
}
    #top-of-header div{
        padding: 9px;
        margin: 5px 0px;
        border: 1px solid black;
        background-color: #f8a43f;
        border-radius: 10px;
        color: black;
        width: fit-content;
    }
    .flex-box-nav{
        background-color: #202020;
        display: flex;
        justify-content: flex-start;
        margin: 0;
        min-height: 35px;
        /*border-bottom: 2px black solid;   */
        box-shadow: 0px 1px 50px black;
        position: relative;
        color:white;
        z-index: 2;
        
        
    
    }

    .nav-box-content{
        min-width: 50px;
        color: white;
        border-radius: 0px;
        border: none;
        background-color: inherit;
        margin: 0px;
        align-items: center;
        flex-basis: 10%;
        align-content: center;
        text-align: center;
        
    }
    .nav-box-content:hover{
        background-color: #303030 ;
    }
    .nav-box-content :last-child{
        flex-grow: 5;
    }
    .bodyGridContainer{
        /*box-shadow: 0px 2px 10px inset black;*/
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 10fr 10fr;
        grid-template-rows: fit-content(88vh);
        min-height: 85vh;
        
        
    }
    .bodyGridContainer img{
        margin:auto;
        width: 75%;
        height: auto;
        object-fit: scale-down;
        min-height: 50vh;

        
    }
    .main-image-container{
        display: flex;
        justify-content: center;
        
        background-color: #0e0e0e;
        padding: 50px;
        box-shadow: 5px 5px 50px inset;
        grid-column: 1/2;
        flex-direction: column;
        
    }
    .main-image-container figure{
    
        display: grid;
        grid-template-columns: 1fr;
    }
    .bodyGridContainer .iframeContainer{
        display: none;
        grid-column: 1 / 3;
        margin: auto;
        margin-top: 20px;
        padding: 20px;
        background-color: #f8a43f;
        border-radius: 5px;
    }
    .main-body-text{
    background-color: #f8a43f;
    box-shadow: -3px 2px 15px;
    }

    .main-body-text p {
        padding-top: 35px;
        font-size: 1.3em;
        padding-left: 2%;
        padding-right: 1.5%;
    
        
    }
    .main-body-text p:first-child{
        padding-top: 35px;
    }
    .main-body-text p::before{
        white-space: pre;
        content: "     ";
    }

    
}

@media screen and (max-width: 768px){
    iframe{
        width: 80vw;
        height: 60vw;
    }
    body{
        height: 100%;
        margin: 0px;
        background-color: #323d4c;
    }
    header{
        position: sticky;
    }
    #top-of-header{

        display: flex;
        font-size: 5.5vw;
        background-color: #202020;
        padding-left: 2%;
        height: 10vh;
        align-content: center;
        
        border-bottom: 1px solid black;
        position: relative;
        z-index: 10;
        
        
        
        
    }
    #top-of-header img{
        width:11vh;
        height: auto;
        
    }
    #top-of-header div{
        padding: 9px;
        margin: 5px 0px;
        border: 1px solid black;
        background-color: #f8a43f;
        border-radius: 10px;
        color: black;
        width: 100%;
        align-content: center;
        text-align: center;
    }
    .flex-box-nav{
        background-color: #202020;
        display: flex;
        justify-content: flex-start;
        margin: 0;
        min-height: 35px;
        min-height: 10vh;
        /*border-bottom: 2px black solid;   */
        box-shadow: 0px 1px 50px black;
        position: relative;
        color:white;
        z-index: 2;
        flex-wrap: wrap;
        
        
       
    }
    
    .nav-box-content{
        min-width: 50px;
        color: white;
        border-radius: 0px;
        border: none;
        background-color: inherit;
        margin: 0px;
        align-items: center;
        text-align: left;
        flex-basis: 10%;
        align-content: center;
        text-align: center;
        
    }
    .nav-box-content:hover{
        background-color: #303030 ;
    }
    .nav-box-content :last-child{
        flex-grow: 5;
    }
    .bodyGridContainer{
        /*box-shadow: 0px 2px 10px inset black;*/
        display: grid;
        min-height: 75vh;
        grid-template-columns: 5fr 10fr;
        
    }
    .bodyGridContainer img{
        width: 75%;
        height: auto;
        object-fit: scale-down;
    
        
    }
    .main-image-container{
        display: flex;
        justify-content: center;
        background-color: #0e0e0e;
        padding: 50px;
        box-shadow: 5px 5px 50px inset;
       
        grid-column: 1/3;
        
    }
    .bodyGridContainer .iframeContainer{
        display: none;
        grid-column: 1 / 3;
        margin: auto;
        margin-top: 20px;
        padding: 20px;
        background-color: #f8a43f;
        border-radius: 5px;
    }
    .main-body-text{
       background-color: #f8a43f;
       box-shadow: -3px 2px 15px;
       grid-column: 1/3;
    }
    
    .main-body-text p {
        padding-top: 35px;
        font-size: 1.3em;
        padding-left: 2%;
        padding-right: 1.5%;
       
        
    }
    .main-body-text p:first-child{
        padding-top: 35px;
    }
    .main-body-text p::before{
        white-space: pre;
        content: "     ";
    }
    

    
}